html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

:root {
  --color-veraneos: #14716A;
  --color-superdarkaneos: #013839;
  --color-darkaneos: #005C56;
  --color-lime: #12B886;
  --color-lime-dark: #038B62;
  --color-lime-darker: #095D44;
  --color-lime-lightest: #D6F8EE;
  --color-blue: #129CAB;
  --color-ink: #343A40;
  --color-ink-light: #868E96;
  --color-ink-lighter: #ADB5BD;
  --color-paper-darker: #EEE9E5;
  --color-paper-dark: #F5F3F1;
  --color-paper: #FAF9F8;
  --color-paper-light: #FDFCFB;
  --color-white: #FFF;
  --color-red: #DB2C24;
  --color-red-light: #EB706A;
  --color-gold: #FFB200;
  --color-gold-lightest: #fff3d2;
  --color-orange: #EE641C;
  --color-orange-light: #f79a57;
  --color-orange-lighter: #ffc194;
  --color-pink: #FAAB95;
}

p {
  margin: 0;
}

.App {
  padding: 0;
}

